.body {
    background-color: #eee;
}

.title {
    color: teal;
    font-weight: bold;
}

.img {
    width: 100px;
    height: 70px;
    border-radius: 10%;
}

#active {
    font-weight: 1000;
    text-transform: uppercase;
    color: rgb(41, 77, 116);
    margin-bottom: .75rem;
    font-size: 1rem;
    line-height: 1.2;
    margin-left: 30px;
    /* margin: 10px; */
}

#recovered {
    font-weight: 1000;
    text-transform: uppercase;
    color: rgb(74, 211, 69);
    margin-bottom: .75rem;
    font-size: 1rem;
    line-height: 1.2;
    margin-left: 30px;
    /* margin: 10px; */
}

#death {
    font-weight: 1000;
    text-transform: uppercase;
    color: red;
    margin-bottom: .75rem;
    font-size: 1rem;
    line-height: 1.2;
    margin-left: 30px;
    /* margin: 10px; */
}

#todayNew {
    font-weight: 600;
    font-size: 1.3rem;
    color: rgb(41, 77, 116);
    font-family: monospace !important;
    margin: -12px;
    padding-left: 90px;
}

#todayRecovered {
    font-weight: 1000;
    font-size: 1.3rem;
    color: rgb(74, 211, 69);
    font-family: monospace !important;
    margin: -12px;
    padding-left: 90px;
}

#todayDeath {
    font-weight: 1000;
    font-size: 1.3rem;
    color: red;
    font-family: monospace !important;
    margin: -12px;
    padding-left: 90px;
}

#activeIcon {
    color: rgb(41, 77, 116);
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

#recoveredIcon {
    color: rgb(74, 211, 69);
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

#deathIcon {
    color: red;
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

#totalCase {
    font-family: 'Space Mono', monospace !important;
    font-weight: 700!important;
    color: rgb(158, 150, 137) !important;
    font-size: 0.8rem;
    padding-left: 10px;
}

#totalRecovered {
    font-family: 'Space Mono', monospace !important;
    font-weight: 700!important;
    color: rgb(158, 150, 137) !important;
    font-size: 0.8rem;
    padding-left: 10px;
}

#totalDeath {
    font-family: 'Space Mono', monospace !important;
    font-weight: 700!important;
    color: rgb(158, 150, 137) !important;
    font-size: 0.8rem;
    padding-left: 10px;
}

.stats {
    background-color: white;
    height: 110px;
    margin: 16px;
    border-radius: 10px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s; */
    transition: all .5s ease;
    transform: translateY(-5px);
    box-shadow: 5px 10px 18px rgba(100, 98, 98, 0.5);
}

.stats:hover {
    border: 2px solid#F6595A
}

#stats {
    cursor: pointer;
    background-color: white;
    height: 125px;
    margin: 16px;
    border-radius: 10px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s; */
    transition: all .5s ease;
    transform: translateY(-5px);
    box-shadow: 5px 10px 18px rgba(100, 98, 98, 0.5);
}

#infoChart {
    cursor: pointer;
    background-color: white;
    height: 300px;
    margin: 16px;
    border-radius: 10px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s; */
    transition: all .5s ease;
    transform: translateY(-5px);
    box-shadow: 5px 10px 18px rgba(100, 98, 98, 0.5);
}

#infoChart:hover {
    border: 9px solid #F5F5F5;
}


/* #stats:hover {
    border: 2px solid#F6595A
} */

.col .stats.active {
    background-color: #9c9fa3;
}

#live {
    background-color: white;
    height: 410px;
    margin: 16px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

#live:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.stats:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#carte {
    background-color: white;
    height: 450px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

#carte:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#map {
    background-color: grey;
    height: 390px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

#map:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#liveCases:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#liveCases {
    width: 400px;
    height: 500px;
    background-color: white;
    overflow-y: scroll;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    cursor: pointer;
    border-radius: 5px;
}

.scrollbar {
    float: left;
    height: 300px;
    width: 65px;
    background: #F5F5F5;
    overflow-y: scroll;
}

#liveCases::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

#liveCases::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

#liveCases::-webkit-scrollbar-thumb {
    background-color: #AAA;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(90deg, rgba(0, 0, 0, .2) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, .2) 50%, rgba(0, 0, 0, .2) 75%, transparent 75%, transparent)
}